<div class="container">
  <div class="col-md-3" id="labelInput">
    <label class="form-label" for="labels">Enter your labels:</label>
    <input class="texte" id="labels" placeholder="Label Name" type="text">
    <button (click)="addNewLabel()" class="btn btn-primary col-md-4 " id="labelButton">Add Label</button>
  </div>
  <ul *ngIf="listOfLabels" class="list-group list-group-horizontal flex-wrap">
    <li *ngFor="let label of listOfLabels" class=" list-group-item">
      <button (click)="setActiveLabel(label)" [ngClass]="{ 'active': label.active }" class="btn btn-{{label.color}}">
        {{ label.label }}
      </button>
    </li>
  </ul>

</div>
<div class="container">
  <p (click)="setLabel()" id='document'>
    <span [innerHTML]="this.texte"></span>
  </p>
  <button (click)="save()" class="btn btn-primary col-md-2 mx-8 "  >Save</button>

</div>

